@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
/* weights 200 400 600 */

:root {
  --font1: Poppins;
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

*{
    font-family: var(--font1);
}
body{
    background-color: var(--VeryLightGray);
}
h1{
    color: var(--VeryDarkBlue);
    text-align: center;
    font-size: 2.2rem;
    width: 430px;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color: var(--VeryDarkBlue);
    font-size: 1.3rem;
    margin-top: 0em;
}
span{
    font-weight: 200;
}
p{
    font-size: 0.85rem;
    color: var(--GrayishBlue);
    margin-bottom: 3em;
}
.top_paragraph{
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    text-align: center;
    margin-bottom: 3em;
}

.container{
    box-sizing:border-box;  
    padding: 30px;
    width: 30%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 10px 10px hsla(229, 6%, 66%, 0.352);;
}
.middle_containers{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}
.supervisor_container{
    margin-top: auto;
    margin-bottom: auto;
    border-top: 4px solid var(--Cyan);
}
.team_container{
 
    width: 100%;
    border-top: 4px solid var(--Red);
}
.karma_container{
    margin-top: 30px;
    width: 100%;
    border-top: 4px solid var(--Orange);
   
}
.calculator_container{
    margin-top: auto;
    margin-bottom: auto;
    border-top: 4px solid var(--Blue);
}
.cards{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.icon{
    float: right;
}

@media screen and (width<900px) {
    .cards{
        width: 100%;
    }
}

@media screen and (width<500px) {
    body{
        margin: 0px;
        padding-left: 2em;
        padding-right: 2em;
    }
    h1{
        font-size: 1.7rem;
        width: 100%;
        margin-top: 3em;
    }

    .top_paragraph, .container{
        width: 100%;
    }
    
    .middle_containers{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .team_container, .karma_container, .calculator_container{
        margin-top: 2em;
    }
    .cards{
        flex-direction: column;
        width: 100%;
        margin-bottom: 4em;
    }
}